body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    font-size: 40px;
    width: 100%;
    bottom: 0;
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}

blockquote{
    margin-top: 5vh;
}
blockquote .quote {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 3vh;
}
blockquote footer {
    color: #333333;
    font-size: 18px;
}

.custom-link {
    font-weight: 600;
    margin-bottom: 3vh;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.bloc-lg {
    padding: 70px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

.bg-t-edge {
    background: top no-repeat;
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc button:hover {
    color: rgba(255, 255, 255, .9);
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc p a {
    color: rgba(255, 255, 255, .6);
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc p a:hover {
    color: rgba(255, 255, 255, 1);
}

.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255, 255, 255, 1);
}

#bloc-1-hero h1 {
    font-size: 35px;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    min-width: 100px;
    max-height: 200px;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}

.navbar-toggle:hover {
    background: transparent;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 25px;
}

.navbar-collapse {
    padding: 0;
    overflow-x: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    margin: 0 5px 5px 0;;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

.btn-rd {
    border-radius: 40px;
}

.icon-md {
    font-size: 30px;
}

.icon-lg {
    font-size: 60px;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a {
    font-family: "helvetica";
    font-weight: 400;
    color: #333333;
}

.container {
    max-width: 1000px;
}

p {
    font-size: 16px;
}

.tight-width-whitespace {
    max-width: 70%;
    margin: auto;
}

.cta-hero {
    margin-top: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

.social {
    max-width: 400px;
    margin: auto;
}

h2 {
    font-size: 24px;
    line-height: 1.4em;
    margin-bottom: 3vh;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}


.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
    background-color: rgba(0, 0, 0, 0.603);
    opacity: 80%;
    padding: 3%;
}
.black {
    color: rgba(0, 0, 0, .7);
    font-weight: 700;
}

.bold-link {
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #eea684;
}
.tc-white {
    color: #ffffff;
}
.tc-black {
    color: rgba(0, 0, 0, 0.637);
}

.btn-atomic-tangerine {
    width: max-content;
    background:rgba(0, 0, 0, 0.884);
    font-weight: 600;
    border-color: #eea684;
    color: #eea684;
    border-width: 2px;
    font-size: 17px;
}

.btn-atomic-tangerine:hover {
    background: #eea684;
    color: #FFFFFF;
}

.ltc-white {
    color: #FFFFFF;
}

.ltc-white:hover {
    color: #cccccc;
}

.ltc-atomic-tangerine {
    color: #eea684;
}

.ltc-atomic-tangerine:hover {
    color: #eea684;
    opacity: 70%;
}
.tangerine {
    color: #eea684;
}
.bg-banniere {
    background-image: url("img/la-chouette-agence-banniere.jpg");
}

.bg-presentation {
    background-image: url("img/image-de-presentation.jpg");
}

.flex-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.flex-social {
    display: flex;
    justify-content: center;
}
/* Responsive */

@media (max-width: 767px) {
    h2 {
        padding:10px;
    }
    .navbar .nav {
        display: flex;
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        float: none;
        flex-direction: column;
    }
    form {
        padding: 5px;
    }
    .close-lightbox {
        display: inline-block;
    }
    .tight-width-whitespace {
        max-width: 100%;
    }
    .bloc-lg {
        padding: 5vh 0;
    }
    .col-sm-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
}
@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: #484848;
    }
    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }
    .nav-center {
        text-align: center;
    }
    .nav-center .navbar-header {
        width: 100%;
    }
    .nav-center .navbar-header,
    .nav-center .navbar-brand,
    .nav-center .nav > li {
        float: none;
        display: inline-block;
    }
    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0px;
        margin-top: 20px;
    }
    .nav-center.mini-nav .navbar-toggle {
        float: right;
        margin: 10px auto 0;
    }
}
@media (max-width: 991px) {
    .b-parallax {
        background-attachment: scroll;
    }
    #hero-bloc, .page-container {
        position: relative;
        overflow: hidden;
    }
    .bloc-group, .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .flex-form {
        margin: 0;
        width: 100%;
    }
    .tight-width-whitespace {
        max-width: 100%;
    }
}